body{
    font-size: 5px;

}

.button-container {
  display: flex;
  justify-content: space-around; /* ボタンを等間隔に配置 */
  align-items: center; /* ボタンを中央に配置 */
  height: 200px; /* コンテナの高さを設定 */
}
  
button{
    flex: 1; /* ボタンを均等に広げる */
    font-size:30px;
    border:3px solid rgb(114, 138, 247);       /*ボタンの枠線の色と太さ*/
    border-radius: 20px;      /*ボタンの角の丸さ*/
    padding: 10px 20px;      /*ボタンの縦横比*/  
    margin: auto;             /*中央寄せ*/
    color:rgb(255, 255, 255);   /*文字の色*/
    background-color: rgb(93, 148, 180);  /*ボタンの色*/
}
.bu{
    display: flex;
  justify-content: center;
  margin: 100px ;
}
img{
  width: 100vw;
}